.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  column-gap: 100px;
  padding: 0;
  margin: 0;
}
