.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.section-title {
  width: 60%;
  margin: 0 0 20px 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

/* Tentei adicionar ambos tanto no header dentro das pastas header/__logo/_placeheader/logo_place_header.css, mas não consigo enviar para a plataforma, porque não passa no validador, falando que não seria uma estrutura BEM */

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
  width: 154px;
  height: 31px;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
}
